<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notiva Games</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <div class="ui secondary pointing menu">
        <div class="ui container">
            <a class="item active">
                <i class="home icon"></i> Games
            </a>
            <a class="item">
                <i class="mail icon"></i> Messages
            </a>
            <a class="item">
                <i class="question circle outline icon"></i> About
            </a>
            <div class="right menu">
                <a class="ui item">
                    <i class="sign out alternate icon"></i> Logout
                </a>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>
</html>